node_modules
.agents
.mcp.json
.claude
contoh_portfolio
skills-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
